#contato {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
      color: $dark;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px;
      .destaque {
        background: rgb(167, 226, 255);
        background: linear-gradient(
          81deg,
          rgba(167, 226, 255, 1) 0%,
          rgba(0, 149, 222, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
    p {
      color: $light;
      font-size: 16px;
      padding: 0 335px;
    }
    .formulario {
      form {
        .form-label {
          display: none;
        }
        .form-control {
          border: 1px solid $secondary;
          color: #e7e7e7;
          padding: 10px;
          &::placeholder {
            color: #e7e7e7;
            font-size: 16px;
          }
        }
      }
    }
  }
}
