#estatisticas {
  .container {
    margin-top: 100px;
    h2 {
      background: rgb(167, 226, 255);
      background: linear-gradient(
        81deg,
        rgba(167, 226, 255, 1) 0%,
        rgba(0, 149, 222, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-size: 40px;
      font-weight: 700;
    }
    h3 {
      color: $dark;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      color: $light;
      font-size: 16px;
    }
    .depoimentos {
      margin-top: 60px;
      .card-depoimento {
        border: 2px solid $secondary;
        background: rgb(235, 248, 255);
        background: linear-gradient(
          90deg,
          rgba(235, 248, 255, 1) 0%,
          rgba(253, 254, 255, 1) 100%
        );
        border-radius: 20px;
        padding: 28px 40px 28px 40px;
        .img-100 {
          img {
            max-width: 76px;
            border-radius: 8px;
          }
        }
        .comentario {
          p {
            color: $light;
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        h5 {
          color: $dark;
          font-size: 16px;
        }
      }
    }
    .estatistica {
      margin-top: 60px;
      h2 {
        background: rgb(167, 226, 255);
        background: linear-gradient(
          81deg,
          rgba(167, 226, 255, 1) 0%,
          rgba(0, 149, 222, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-size: 40px;
        font-weight: 700;
      }
      p {
        color: $light;
        font-size: 14px;
      }
    }
  }
}
